<%- model_class = Name -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "Nummer" %>:</strong></dt>
  <dd><%= @name.clid %></dd>
  <dt><strong><%= "Anzeigename" %>:</strong></dt>
  <dd><%= @name.display_name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              names_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_name_path(@name), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              name_path(@name),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
