<!DOCTYPE html>
<html>
<head>
  <title>ECID Nummernverzeichnis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= names_path %>">ECID Nummernverzeichnis</a>
      <div class="nav-collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>Anleitung</h2>
      <p>- Nummern müssen ohne führende Nullen bzw. Vorwahl erfasst werden. Bsp. +41448353636 muss als 448353636 erfasst werden oder 0611517313 als 611517313.</p>
      <p>- Es kann bis zu 15 Minuten dauern bis die Änderungen im System wirksam sind.</p>
    </div>
  </div>
</div>
</body>
</html>
